
body{
    background-color: gainsboro;
}
h1{
    text-align: center;
    font-family: 'Bungee', cursive;
    color:midnightblue;
}
img.shoes {
    width: 100%;
    
    border-top-left-radius: 5% ;
    border-top-right-radius: 5%;
}
h3,p{
    text-align: center;
    color:#1C2833 ;
    font-family: 'Roboto Slab', serif;
}
p{
    position: relative ;
    top: -.5em;
}
div.contenedor{
    max-width: 350px;
    background-color:whitesmoke;
    border-radius: 15px ;
}
div#catalogo-main{
    width: 100%;
}
/*movil*/
@media only screen and (max-width: 767px)
 {
    div.contenedor{
        width: 95%; 
        margin: 0 auto 0 auto;    
    }
    
    img.shoes{
        display: block;
        margin: 0 auto 0 auto;
        margin-bottom: 1.3em;
    }
}

/*tablet*/
@media only screen and (min-width:768px) and (max-width:1023px)
{
    div.contenedor{
        width:32%;
        float: left;
        margin-left: 1%;
        margin-bottom: 1.3em;
    }
    img.shoes{
        display: block;
        margin: 0 auto 0 auto;
        margin-bottom: 1.3em;
    }
}
/*escritorio*/
@media only screen and (min-width:1024px){
    div.contenedor{
        width: 22%;
        float: left;
        margin-left: 1.6em;
        margin-bottom: 1.3em;

    }
    img.shoes{
        display: block;
        margin: 0 auto 0 auto;
        margin-bottom: 1.3em ;
    }
    
 }
   
    




