html,body{
    width: 100%;
    height: 100%;
    margin: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.nav{
    border-bottom:  1px solid #EAEAEB;
    text-align: right;
    height: 71px;
    line-height: 70px;
}
.menu a{
   clear: right;
   text-decoration: none;
   color: gray;
   margin: 0 10px;
   line-height: 70px;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle{
    display: none;
}

@media only screen and (max-width: 590px){
    label{
        display: block;
        cursor: pointer;
     }
     .menu{
         display: block;
         text-align: center;
         width: 100%;
     }
     .menu a{
         display: block;
         border-bottom: 1px solid #EAEAEB;
         margin: 0;
     }
     #toggle:checked + .menu{
         display: block;
     }
}