h1,h2{
    text-align: center;
    color: midnightblue;
}

#main{
    width: 500px;
    height: 500px;
    margin: 0 auto 0 auto;
    outline:  1px solid #333;
    position: relative;
    }
 .contenedor-uno{
    background-color: purple;
    width: 100px;
    height: 100px;
    top: 20%;
    left: 20%;
    position: absolute;

    outline: 1px solid #333;
    float: left;
    
 }   
 .contenedor-dos{
    background-color: red;
    width: 100px;
    height: 100px;
    top: 20%;
    right:20%;
    position: absolute;
    outline: 1px solid #333;
    float: right;
    
 }   

.contenedor-tres{
   background-color: orange;
   width: 100px;
   height: 100px;
   bottom: 100px;
   left: 100px;
   outline:1px solid #333;
   float: right;
   position:absolute ;
}   
 
.contenedor-cuatro{
   background-color: olive;
   width: 100px;
   height: 100px;
   bottom: 100px;
   right: 100px;
   outline: 1px solid #333;
   float: left;
   position:absolute;
  
   
   
   
}   

